.footer {
  background-color: #0a2850;
  padding: 60px 80px;
  position: relative;
}
.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__title {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  margin: 0;
  margin-bottom: 20px;
}
.footer__list {
  color: #f2f2f2;
}

.footer__list-item {
  margin-bottom: 16px;
  color: #ffffff;
  display: flex;
  padding-right: 50px;
  gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__copyright {
  color: #ffffff;
  margin-top: 100px;
}
